:root {
    --logo-color:#90EE90;
}

.page-header-wrapper {
    padding: 24px;
    background-color: #f5f5f5;
}

.page-header {
    border-radius: 10px;
}

.bolded {
    color: var(--logo-color)
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 20px;
    text-decoration: none;
}

.grid-container-members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
    text-decoration: none;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
