:root {
    --logo-color:#90EE90;
}

.page-header-wrapper {
    padding: 24px;
    background-color: #f5f5f5;
}

.padding-wrapper {
    padding: 24px;
}

.shadowed {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
}

.grid-container-med {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
}
.grid-container-sm {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 20px;
}

.grid-item {
    background-color: #f5f5f5;
    padding: 15px;
    font-size: 30px;
    text-align: center;
}

.grid-item-med {
    padding: 15px;
    font-size: 30px;
    text-align: center;
}


.bolded {
    color: var(--logo-color)
}
