.itemcard {
    border-radius: 10px;
    padding: 20px;
    transition: transform .2s ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.itemcard-no-shadow {
    border-radius: 10px;
    padding: 20px;
    transition: transform .2s ease-out;
}

.introcard {
    border-radius: px;
    transition: transform .2s ease-out;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center
}

.itemcard:hover {
    transform: translate(0, -5px);
    cursor: pointer;
}

.itemcard-no-shadow:hover {
    transform: translate(0, -5px);
    cursor: pointer;
}

/* .cropped-image {
	display: block;
	min-width: 150px;
	height: 270px;
	object-fit: cover;
    border-radius: 10px;
} */

.cropped-image {
	display: block;
	/* max-width: 100%;
    max-height: 100%; */
    width: 100px;
    align-self: center;
    align-content: center;
	object-fit: cover;
    border-radius: 10px;
}


.icon-image {
    display: block;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
a:hover, /* OPTIONAL*/
a:visited,
a:focus
{text-decoration: none !important;}

.college-image {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.business-image {
    display: block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.ant-card-meta-title {
    white-space: pre-line;
}

.storecard {
    border-radius: 10px;
    padding: 20px;
    transition: transform .2s ease-out;
}

.storecard:hover {
    transform: translate(0, -5px);
}


.teamcard {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.storecardImage {
    height: 15rem;
}
